<div *ngIf="handler" class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{handler.getTitle()}}</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeInternal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{handler.getMessage()}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" [disabled]="handler.doingOperationOnServer()" class="btn btn-primary"
                        (click)="handler.onBtnOkClick()"><i *ngIf="handler.doingOperationOnServer()"
                                                            class="fa fa-refresh fa-spin"></i> {{handler.getTextBtnOk()}}
                </button>
                <button type="button" class="btn btn-secondary"
                        (click)="handler.onBtnCancelClick()">{{handler.getTextBtnCancel()}}</button>
            </div>
        </div>
    </div>
</div>
